<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" autofocus name="name" placeholder="Your name">
        <!-- basketball, soccer and baseball -->
        <select>
            <option disabled selected>Sports</option>
            <option value="basketball">Basketball</option>
            <option value="soccer">Soccer</option>
            <option value="baseball">Baseball</option>
        </select>
        <button type="submit">Register</button>
    </form>
</body>
</html>